

.loginFbButton{
    font-size: 15px;
    color: white;
    width: 80%;
    height: 50px;
    background: #3f51b5 !important;
    border-radius: 27px;
    padding: 0 35px 0 35px;
    margin: 5px 0px;
    border-style: none;
    position: absolute;
    left: 10%;
    bottom: 10%;
    outline-style: none;
  }

.backImg{
    background-image: url('https://images.pexels.com/photos/886465/pexels-photo-886465.jpeg?auto=compress&cs=tinysrgb&h=350');
    background-size: cover;
    background-position: center;
}